* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: "Lato";
  color: #363636;
}

body {
  background-color: #f1f1f1;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

table {
  text-align: center;
}

.game-table-cell {
  height: 50px;
}

.table-wrapper {
  width: 600px;
  height: 600px;
  margin-top: 100px;
  margin: 100px auto 0 auto;
}

.game-tables {
  width: 100%;
  height: 100%;
}

.game-tables .game-table-cell {
  width: 33.3%;
  height: 33.3%;
  padding: 0;
  font-size: 150px;
  line-height: 194px;
}

.game-tables tr td {
  border-bottom: solid 2px #363636;
  cursor: pointer;
}

.can-hover:hover {
  background-color: #e6e6e6;
  color: #dbdbdb;
}

.game-tables tr:first-child td {
  padding-top: 2px;
}

.game-tables tr:nth-child(2) td {
  padding: 0;
}

.game-tables tr:last-child td {
  border-bottom: 0;
  padding-bottom: 2px;
}

.game-tables tr td:first-child {
  border-right: solid 2px #363636;
  padding-top: 2px;
}

.game-tables tr td:nth-child(2) {
  border-left: solid 2px #363636;
  border-right: solid 2px #363636;
  padding-top: 2px;
}

.game-tables tr td:last-child {
  border-left: solid 2px #363636;
  padding-top: 2px;
}