<!doctype html>
<html lang="en" ng-app="TicTacToe">
  <head>
    <meta charset="UTF-8">
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/gh-fork-ribbon.css">
  </head>
  <body ng-controller="TicTacToeCtrl">


    <div class="github-fork-ribbon-wrapper right">
        <div class="github-fork-ribbon">
            <a href="https://github.com/simonwhitaker/github-fork-ribbon-css">Fork me on GitHub</a>
        </div>
    </div>


    <div class="container">
      <div class="table-wrapper">
        <table class="game-tables">
          <tbody>
            <tr>
              <td class="game-table-cell can-hover" ng-mouseover="showHoverPlayer($event, 0)" ng-mouseleave="hideHoverPlayer($event, 0)" ng-click="set($event, 0)">&nbsp;</td>
              <td class="game-table-cell can-hover" ng-mouseover="showHoverPlayer($event, 1)" ng-mouseleave="hideHoverPlayer($event, 1)" ng-click="set($event, 1)">&nbsp;</td>
              <td class="game-table-cell can-hover" ng-mouseover="showHoverPlayer($event, 2)" ng-mouseleave="hideHoverPlayer($event, 2)" ng-click="set($event, 2)">&nbsp;</td>
            </tr>
            <tr>
              <td class="game-table-cell can-hover" ng-mouseover="showHoverPlayer($event, 3)" ng-mouseleave="hideHoverPlayer($event, 3)" ng-click="set($event, 3)">&nbsp;</td>
              <td class="game-table-cell can-hover" ng-mouseover="showHoverPlayer($event, 4)" ng-mouseleave="hideHoverPlayer($event, 4)" ng-click="set($event, 4)">&nbsp;</td>
              <td class="game-table-cell can-hover" ng-mouseover="showHoverPlayer($event, 5)" ng-mouseleave="hideHoverPlayer($event, 5)" ng-click="set($event, 5)">&nbsp;</td>
            </tr>
            <tr>
              <td class="game-table-cell can-hover" ng-mouseover="showHoverPlayer($event, 6)" ng-mouseleave="hideHoverPlayer($event, 6)" ng-click="set($event, 6)">&nbsp;</td>
              <td class="game-table-cell can-hover" ng-mouseover="showHoverPlayer($event, 7)" ng-mouseleave="hideHoverPlayer($event, 7)" ng-click="set($event, 7)">&nbsp;</td>
              <td class="game-table-cell can-hover" ng-mouseover="showHoverPlayer($event, 8)" ng-mouseleave="hideHoverPlayer($event, 8)" ng-click="set($event, 8)">&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </div>

<!--       <div class="col-md-2">
        <span class="alert-success" ng-if="!getWinner()">Current Player: {{getCurrentPlayer()}}</span>
        <span class="alert-success" ng-if="getWinner()">Winner: {{getWinner()}}</span>
        <button type="button" class="btn btn-default" ng-click="restart()">Restart</button>
      </div> -->
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <script src="src/app.js"></script>
    <script src="src/TicTacToe.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42532741-6', 'thiagokimo.github.io');
      ga('send', 'pageview');

    </script>
  </body>
</html>
